* {
    margin: 0;
    padding: 0;
}

$height-header: 2.5em;
$height-footer: 2.5em;

$color-blue: rgb(68, 108, 179);
$color-yellow: rgb(244, 208, 63);
$color-gray: rgb(210, 215, 211);
$color-red: rgb(240, 52, 52);

$box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);

$border-radius: 5px;

body, html {
    min-width: 1366px;
    height: 100vh;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a, span, h3, p {
    font-family: Tahoma;
}

div.wr {
    header.wr-header {
        min-width: 1366px;
        height: $height-header;
        background-color: rgb(255, 255, 255);
        box-shadow: $box-shadow;
        div.wr-content-header {
            float: left;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div.wr-logo-app, div.wr-account {
            width: 10%;
        }
        div.wr-logo-app {
            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                user-select: none;
                font-weight: normal;
                img {
                    border-radius: $border-radius;
                }
                span {
                    margin-left: 0.3em;
                    margin-top: 0.1em;
                    color: $color-yellow;
                    font-size: 20px;
                }
            }
        }
        div.wr-menu {
            width: 80%;
            nav {
                ul {
                    li {
                        float: left;
                        margin: 0 1em;
                        user-select: none;
                        a {
                            font-size: 15px;
                            color: $color-blue;  
                            transition: color 0.2s ease-out;
                            &:hover {
                                color: $color-yellow;
                            }
                        }
                    }
                }
            }
        }
        div.wr-account {
            button {
                background: none;
                border: none;
                position: relative;
                outline: none;
                height: 100%;
                cursor: pointer;
                &:hover {
                    ul {
                        display: block;
                        animation: (ani-show-account 0.2s ease-out forwards);
                    }
                }
                & > i {
                    color: $color-blue;
                    font-size: 15px;
                }
                ul {
                    display: none;
                    z-index: 1000;
                    position: absolute;
                    left: -4.25em;
                    top: 2.5em;
                    width: 9.5em;
                    background-color: rgb(255, 255, 255);
                    border-radius: $border-radius;
                    box-shadow: $box-shadow;
                    li {
                        line-height: 2.5em;
                        border-bottom: 1px solid rgba(68, 108, 179, 0.2);
                        user-select: none;
                        &:nth-last-child(1) {
                            border-bottom: none;
                        }
                        a {
                            display: block;
                            color: $color-blue;
                            font-size: 15px;
                            transition: color 0.2s ease-out;
                            &:hover {
                                color: $color-yellow;
                            }
                        }
                    }
                }
            }
        }
    }
    section.wr-main {
        padding: 1em;
        box-sizing: border-box;
        min-width: 1366px;
        height: 100vh - 6vh;
        div.wr-menu-food, div.wr-foods {
            float: left;
            height: 100%;
        }
        div.wr-menu-food {
            width: 15%;
            h3.title {
                text-align: center;
                color: $color-yellow;
                height: 1.5em;
                user-select: none;
            }
            ul {
                li {
                    margin: 0 1.95em;
                    margin-top: 1em;
                    user-select: none;
                    a {
                        color: $color-blue;
                        font-size: 15px;
                        display: block;
                        transition: color 0.2s ease-out;
                        &.menu-active {
                            color: $color-yellow;
                        }
                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }
            }
        }
        div.wr-foods {
            width: 85%;
            div.wr-filter-food {
                width: 100%;
                height: 1.5em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1em;
                box-sizing: border-box;
                h3 {
                    user-select: none;
                    cursor: pointer;
                    width: 100%;
                    text-align: center;
                }
                h3.title-tab {
                    color: $color-blue;
                }
                h3.title-tab-active {
                    color: $color-yellow;
                }
                h3.filter-price {
                    color: $color-red; 
                    position: relative;
                    &.toggle-show-list-filter-price {
                        ul {
                            display: block;
                            animation: (ani-show-list-filter-price 0.2s ease-out forwards);
                        }
                    }
                    ul {
                        transform: translateY(-0.3em);
                        display: none;
                        position: absolute;
                        z-index: 999;
                        width: 100%;
                        left: 0;
                        top: 1.5em;
                        background-color: rgb(255, 255, 255);
                        box-shadow: $box-shadow;
                        border-radius: $border-radius;
                        li {
                            height: 2.5em;
                            line-height: 2.5em;
                            user-select: none;
                            border-bottom: 1px solid rgba(240, 52, 52, 0.2);
                            &:nth-last-child(1) {
                                border-bottom: none;
                            }
                            &:hover {
                                p {
                                    color: $color-blue;
                                }
                            }
                            p {
                                font-size: 15px;
                                color: $color-red;
                                transition: color 0.2s ease-out;
                            }
                        }
                    }
                }
            }
            div.wr-list-food {
                width: 100%;
                height: 90%;
                margin-top: 0.5em;
                position: relative;
                overflow: hidden;
                div.wr-list-food-item {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: scroll;
                    display: grid;
                    padding: 1em;
                    box-sizing: border-box;
                    grid-template: 15em 15em 15em 15em / 15em 15em 15em 15em;
                    grid-gap: 0 2.95em;
                    &.container-food-active {
                        left: 0;
                    }
                    div.food {
                        width: 15em;
                        height: 12em;
                        padding: 0.5em;
                        box-sizing: border-box;
                        box-shadow: $box-shadow;
                        border-radius: $border-radius;
                        img {
                            width: 100%;
                            height: 60%;
                            user-select: none;
                        }
                        p {
                            text-align: center;
                            color: $color-blue;
                            font-size: 15px;
                            margin: 0.3em 0;
                        }
                    }
                }
            }
        }
    }
    footer.wr-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        height: $height-footer;
        min-width: 1366px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin: 0 1em;
            font-size: 15px;
            color: $color-blue;
        }
        p.wr-design-by {
            color: $color-red;
        }
    }
}

.wr-list-food-item::-webkit-scrollbar { 
    display: none; 
}

@keyframes ani-show-list-filter-price {
    from {
        opacity: 0;
        transform: translateY(-0.3em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ani-show-account {
    from {
        opacity: 0;
        transform: translateY(-0.3em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}