<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="content-language" content="en">
        <link href="imgs/logo.png" rel="icon" type="image/icon" sizes="32x32">
        <base href="/">
        <title>Ứng dụng quản lý đặt món nhà hàng</title>
        <link rel="stylesheet" href="css/libs/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    </head>
    <body oncontextmenu="return false;">
        <div id="main"></div>
        <script type="text/javascript" lang="en" language="javascript" src="js/libs/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" lang="en" language="javascript" src="webpack-bundle.js"></script>
    </body>
</html>
